{% extends 'base.html' %}

{% load static %}

{% block content %}
    <style>
        .tooltip {
            pointer-events: none;
            position: absolute;
        }

        .arc path {
            opacity: 80%;
        }

        .arc text {
            opacity: 100%;
        }

        .arwqac:hover path {
            opacity: 75%;
        }

        .arc.active:hover path {
            opacity: 100% !important;
        }

    </style>

    <div class="row">
        <svg id="bar-1" class="col-sm-12 col-md-6 col-lg-4 p-3 border shadow-sm" style="height: 300px"></svg>
        <svg id="pie-1" class="pie-chart col-sm-12 col-md-6 col-lg-4 border shadow-sm mx-auto"
             style="height: 300px"></svg>
        <div id="forecast" class="text-center bg-dark text-light  rounded col-sm-12 col-md-6 col-lg-4"
             style="height: 300px">
            <p>Previsão para os próximos 4 dias</p>
            <table class="table table-dark mb-0">
                <thead>
                <tr>
                    <th class="px-1"></th>
                    <th class="px-1">31/03</th>
                    <th class="px-1">01/04</th>
                    <th class="px-1">02/04</th>
                    <th class="px-1">03/04</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>RETs disponíveis</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>RETs ocupados</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>UTIs disponíveis</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>UTIs ocupadas</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Nome da unidade de saúde</th>
                <th>Leitos disponiveis</th>
                <th>Leitos ocupados</th>
                <th>UTIs disponíveis</th>
                <th>UTIs ocupadas</th>
                <th>Respiradores disponíveis</th>
                <th>Respiradores ocupados</th>
            </tr>
            </thead>
            <tbody>
            {% for health_center in health_centers %}
                <tr>
                <td>{{ health_center.name }}</td>
                <td>{{ health_center.beds }}</td>
                <td>{{ health_center.occupied_beds }}</td>
                <td>{{ health_center.icus }}</td>
                <td>{{ health_center.occupied_icus }}</td>
                <td>{{ health_center.respirators }}</td>
                <td>{{ health_center.occupied_respirators }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {{ stats|json_script:'stats' }}
    {{ occupation|json_script:'occupation' }}

    <script src="{% static 'scripts/charts.js' %}"></script>
    <script>
        const stats = JSON.parse(document.getElementById("stats").textContent);
        const total = stats.total;

        const occupation = JSON.parse(document.getElementById("occupation").textContent);

        function draw() {
            barChart("#bar-1", [
                {label: "Suspeitos", value: total.suspect_cases},
                {label: "Confirmados", value: total.confirmed_cases},
                {label: "Mortes", value: total.deaths},
                {label: "Recuperados", value: total.recovered || 0}
            ], {
                title: "Casos de COVID-19 em Alagoas",
                colors: ["khaki", "salmon", "black", "lightgreen"],
                xAxis: {label: "Status",},
                yAxis: {label: "Casos"},
            });

            console.log(occupation);

            pieChart("#pie-1", [
                {label: "RETs disponíveis", value: occupation.beds},
                {label: "RETs ocupados", value: occupation.occupied_beds},
                {label: "UTIs disponíveis", value: occupation.icus},
                {label: "UTIs ocupados", value: occupation.occupied_icus},
                {label: "Respiradors disponíveis", value: occupation.respirators},
                {label: "Respiradores ocupados", value: occupation.occupied_respirators},
            ], {
                title: "Ocupação de leitos em Alagoas",
                colors: ["lightgreen", "orange", "salmon", "firebrick", "steelblue", "purple"],
                innerRadius: 30,
            });
        }

        draw();
        window.addEventListener("resize", draw);
    </script>
{% endblock %}